.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width : 770px) {
  .App-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .App {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  gap: 117px;
  height: 1024px;
  justify-content: flex-end;
  padding: 30px 47px;
  position: relative;
  width: 1440px;
}

.App .frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 674px;
  justify-content: center;
  padding: 30px 0px;
  width: 573px;
}

.App .rectangle {
  height: 211px;
  width: 334px;
}

.App .text_wrapper {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 566px;
}

.App .overlap_wrapper {
  background-color: #ffffff;
  height: 839px;
  overflow: hidden;
  position: relative;
  width: 639px;
}

.App .overlap {
  background-color: #ffffff;
  height: 864px;
  position: relative;
}

.App .div {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  left: 287px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}

.App .group {
  height: 80px;
  left: 55px;
  position: absolute;
  top: 540px;
  width: 551px;
}

.App .overlap_group {
  background-color: #000000;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 80px;
  position: relative;
  width: 549px;
}
.App .sign_in{
  text-decoration: none;
  color: white;
  margin-top: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.App .text_wrapper_2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  left: 237px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.App .overlap_group_wrapper {
  height: 80px;
  left: 55px;
  position: absolute;
  top: 640px;
  width: 551px;
}


.App .have-account{
  text-decoration: none;
  color: black; 
}
.App .text_wrapper_3 {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  left: 195px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  text-decoration: none;
}

.App .group_2 {
  height: 312px;
  left: 49px;
  position: absolute;
  top: 97px;
  width: 551px;
}

.App .div_wrapper {
  height: 80px;
  left: 0;
  position: absolute;
  top: 118px;
  width: 551px;
}

.App .text_wrapper_4 {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.App .overlap_group_2 .input_email {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 80px;
  position: relative;
  width: 549px;
  color: #000000;
  font-size: 22px;
  font-weight: 600;
}

.App .overlap_group_2 .input_password {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 80px;
  position: relative;
  width: 549px;
  color: #000000;
  font-size: 22px;
  font-weight: 600;
}

.App .group_3 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 232px;
  width: 551px;
}
.App .group_4{
  height: 80px;
  left: 0;
  position: absolute;
  top: 342px;
  width: 551px;
}

.App .text_wrapper_5 {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.App .remove_red_eye {
  height: 51px;
  left: 479px;
  position: absolute;
  top: 13px;
  width: 50px;
}

.App .overlap_2 {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 549px;
  color: #000000;
  font-size: 22px;
  font-weight: 600;
}



.App .overlap_group_3 {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 80px;
  position: relative;
  width: 549px;
}

.App .group_5 {
  height: 46px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 641px;
}
.App .text_wrapper_8 {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  left: 287px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.App .line {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 639px;
}




